h1, h2, h3 {
    font-family: 'Poiret One', cursive;
    color: gray();
}

#page-title {
    font-size: 86px;
    font-weight: bold;
    letter-spacing: 19px;
    border-bottom: solid gray 2px;
    background: beige;
    margin: 0 -15px 0 -15px;
    padding: 5px;
    background-image: none;
    display: none;
}
body {
    background: beige;

}

.card-body {
    border: solid lightgray 1px;
    margin: 20px;
}

#trivia-box, #setup {
    display: none;
    margin-top: 60px;
    height: 200px;
}

