body {
}

* {
    font-family: 'Raleway', sans-serif;
}

p {
    border: none;
}

h1, h2, h3 {
    font-family: 'Poiret One', cursive;
    color: gray();
}

img {
    position: fixed;
    width: 100%;
    height: 100%;
}

.card {
    background: #f0f0f0f5;
}
.answer {font-size: 36px;vertical-align: middle;width: fit-content;}

#question {
    margin-left: 25px;
    height: 54px;
}
.card-body {
    border: solid lightgray 1px;
    margin: 32px 20px 28px 20px;
    overflow: auto;
}

.card-body {}

.form {
    height: 68px;
}
.crd-t {
    text-align: center;
    font-size: 58px;
    font-style: oblique;
}

.modifiers {
    MARGIN-TOP: 62px;
}

.card-text {
    padding: 30px;
    font-size: 28px;
}

.card-instructions {

}

.card-details {
    position: relative;
    width: 277px;
    float:  left;
    padding-bottom: 24px;
}

.arena {
    position: relative;
    float: right;
    height: 87px;
    width: 25%;
    font-size: 3vw;
    margin-right: 4%;
    font-style: italic;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}

.correct-answer {
    background: green;
}

.wrong-answer {
    background: red;
}

#trivia-box, #setup, #startup {
    display: none;
    margin-top: 19px;
    height: auto;
}

#roundUp {
    display: none;
}

#clock {

}

#clock-box {

}

#clock-row {
    display: none;
}

#trivia-box {
    height: auto !important;
    margin-top: 95px;
}

#answer-feild {
    height: auto;
    margin-top: 52px;
    display: none;
    background: white;
}

#page-title {
    font-size: 86px;
    font-weight: bold;
    letter-spacing: 19px;
    border-bottom: solid gray 2px;
    background: #ffffffed;
    margin: 0 -15px 5px -15px;
    padding: 5px 5px -15px 5px;
    display: none;
}

