body {
}

button {
    border: none;
    background: none;
    outline: solid 1px black;
}

button:focus {
    outline: solid 2px black
}

button:hover {
    font-weight: bold;

}

* {
    font-family: 'Raleway', sans-serif;
}

p {
    border: none;
}

h1, h2, h3 {
    font-family: 'Poiret One', cursive;
    color: gray();
}

img {
    position: fixed;
    width: 100%;
    height: 100%;
}

.card {
    background: #fce89cdb;
    border: solid 2px black;
}

.answer {
    font-size: 36px;
    vertical-align: middle;
    width: fit-content;
}


.card-body {
    border: solid black 1px;
    margin: 32px 20px 28px 20px;
    overflow: auto;
    background: #fffff14a;
}


.form {
    height: 68px;
}

.crd-t {
    text-align: center;
    font-size: 58px;
    /* background: #fce89cdb; */
    font-style: oblique;
}

.modifiers {
    MARGIN-TOP: 62px;
}

.card-text {
    padding: 30px;
    font-size: 28px;
}

.card-instructions {

}

.card-details {

    position: relative;
    width: 277px;
    float: left;
    padding-bottom: 24px;
}

.arena {
    position: relative;
    float: right;
    height: 87px;
    width: 25%;
    font-size: 3vw;
    margin-right: 4%;
    font-style: italic;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}

.correct-answer {
    background: green;
}

.wrong-answer {
    background: red;
}

#trivia-box, #setup, #startup {
    display: none;
    margin-top: 19px;
    height: auto;
}

#roundUp, #final {
    display: none;
    margin-top: 20px;
}

#clock {

}

#question {
    margin-left: 25px;
    height: 54px;
}

#clock-box {background: #fce89cdb;}

#clock-row {
    display: none;
}

#trivia-box {
    height: auto !important;
    margin-top: 95px;
}

#answer-feild {
    height: auto;
    margin-top: 52px;
    display: none;
    background: #fffff1ad;
}

#page-title {
    font-size: 86px;
    font-weight: bold;
    letter-spacing: 19px;
    border-bottom: solid black 2px;
    background: #fce89cdb;
    margin: 0 -15px 5px -15px;
    padding: 5px 5px -15px 5px;
    display: none;
}

